<template>
    <div class="w-25">
        <div class="p-3">
            <router-link class="btn btn-warning" :to="{name: 'categories.index'}">Categories</router-link>
        </div>
        <div class="mb-3">
            <input type="text" v-model="title" class="form-control" placeholder="name">
        </div>
        <div class="mb-3">
            <input @click.prevent="updateCategory" :disabled="!isDisabled" type="button" class="btn btn-primary"
                   value="Update">
        </div>
    </div>
</template>

<script>


export default {
    name: "Edit",
    data() {
        return {
            title: null,
        }
    },
    computed: {
        isDisabled() {
            return this.title
        },
    },
    mounted() {
        this.getCategory()
    },

    methods: {
        getCategory() {
            axios.get(`/api/categories/${this.$route.params.id}`)
                .then(res => {
                    this.title = res.data.data.title
                })
        },
        updateCategory() {
            axios.patch(`/api/categories/${this.$route.params.id}`, {title: this.title})
                .then(res => {
                    this.$router.push({name: 'categories.show', params: {id: this.$route.params.id}})
                })
        }
    }
}
</script>

<style scoped>

</style>
