<template>
    <div>
        <router-link class="btn btn-outline-success" :to="{name: 'categories.create'}">Create</router-link>
        <div class="p-3">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Show</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="category in categories">
                    <td>{{ category.id }}</td>
                    <td>{{ category.title }}</td>
                    <td>
                        <router-link class="btn btn-outline-primary" :to="{name: 'categories.edit', params: {id: category.id}}">
                            Edit
                        </router-link>
                    </td>
                    <td>
                        <router-link class="btn btn-outline-success" :to="{name: 'categories.show', params: {id: category.id}}">
                            Show
                        </router-link>
                    </td>
                    <td><a href="#" @click.prevent="deleteCategory(category.id)" class="btn btn-outline-danger">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
export default {
    name: "Index",
    data() {
        return {
            categories: null
        }
    },
    mounted() {
        this.getCategories();
    },
    methods: {
        getCategories() {
            axios.get('/api/categories/').then(res => {
                this.categories = res.data.data;
            })
        },
        deleteCategory(id) {
            axios.delete(`/api/categories/${id}`).then(res => {
                this.getCategories();
            })
        }
    },
}
</script>

<style scoped>

</style>
