<template>
    <div>
        <div>
            <router-link class="btn btn-warning" :to="{name: 'categories.index'}">Categories</router-link>
        </div>
        <div v-if="category" class="row p-3">
            <div class="col-6">
                <div class="card">
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <tbody>
                            <tr>
                                <td>ID</td>
                                <td>{{category.id}}</td>
                            </tr>
                            <tr>
                                <td>Title</td>
                                <td>{{category.title}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <router-link class="btn btn-outline-success" :to="{name: 'categories.edit', params: {id: category.id}}">Edit</router-link>
    </div>
</template>

<script>
export default {
    data(){
        return {
            category : null,
        }
    },
    name: "Show",

    mounted() {
        this.getCategory()
    },
    methods: {
        getCategory() {
            axios.get(`/api/categories/${this.$route.params.id}`)
                .then(res => {
                    this.category = res.data.data
                })
        },
    }
}
</script>

<style scoped>

</style>
