<template>
    <div class="w-25">
        <div class="mb-3">
            <input type="text" v-model="title" class="form-control" placeholder="name">
        </div>
        <div class="mb-3">
            <input :disabled="!isDisabled" @click.prevent="store" type="button" class="btn btn-primary" value="Create">
        </div>
    </div>
</template>

<script>
export default {
    name: "Create",
    data() {
        return {
            title: '',
        }
    },
    methods: {
        store() {
            axios.post('/api/categories', {title: this.title}).then(res => {
                this.$router.push({name: 'categories.index'})
            })
        }
    },
    computed: {
        isDisabled() {
            return this.title
        },
    },
}
</script>

<style scoped>

</style>
