<template>
    <div class="w-50">
        <div class="p-3">
            <router-link class="btn btn-warning" :to="{name: 'posts.index'}">Posts</router-link>
        </div>
        <div class="mb-3">
            <input type="text" v-model="title" class="form-control" placeholder="name">
        </div>
        <div class="mb-3">
            <vue-editor v-model="content"></vue-editor>
        </div>
        <div class="form-group" v-if="preview_image">
            <label>Preview image input</label>
            <div class="w-50 mb-3">
                <img :src="'/storage/' + preview_image" alt="preview_image" class="w-50">
            </div>
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input">
                    <label class="custom-file-label">Choose image</label>
                </div>
                <div class="input-group-append">
                    <span class="input-group-text">Upload</span>
                </div>
            </div>
        </div>
        <div class="form-group" v-if="main_image">
            <label >Main image input</label>
            <div class="w-50 mb-3">
                <img :src="'/storage/' + main_image" alt="main_image" class="w-50">
            </div>
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="main_image">
                    <label class="custom-file-label">Choose image</label>
                </div>
                <div class="input-group-append">
                    <span class="input-group-text">Upload</span>
                </div>
            </div>
        </div>
        <div class="form-group w-50">
            <label>Select categories</label>
            <select name="category_id" class="form-control">
                <template v-for="category in categories">
                    <option :selected="category_id === category.id" :value="category.id">{{category.title}}</option>
                </template>
            </select>
        </div>
        <div class="form-group w-50">
            <label>Tags</label>
            <select v-model="selected_tags" name="tags[]" class="select2" multiple="multiple" data-placeholder="Select a tags" style="width: 100%;">
               <template v-for="tag in tags">
                <option :selected="isContain(tag)" :value="tag.id">{{tag.title}}</option>
               </template>>
            </select>
        </div>
        <div class="mb-3">
            <input @click.prevent="updatePost" :disabled="!isDisabled" type="button" class="btn btn-primary"
                   value="Update">
        </div>
    </div>
</template>

<script>

import { VueEditor } from "vue2-editor";
export default {
    components: {
        VueEditor
    },
    name: "Edit",
    data() {
        return {
            title: null,
            content: null,
            categories: null,
            category_id: null,
            selected_tags: null,
            preview_image: null,
            main_image: null,
            tags: null,
        }
    },
    computed: {
        isDisabled() {
            return this.title
        },
    },
    mounted() {
        $(function () {
            bsCustomFileInput.init();
        });
        $('.select2').select2();

        this.getPost();
        this.getCategories();
        this.getTags();

    },

    methods: {
        isContain(item){
            for (let tag in this.selected_tags){
                if (tag.id === item.id){

                    console.log('ok ' + item.title)
                    return true
                }
            }
            return false
        },
        getPost() {
            axios.get(`/api/posts/${this.$route.params.id}`)
                .then(res => {
                    this.title = res.data.data.title;
                    this.content = res.data.data.content;
                    this.selected_tags = res.data.data.selected_tags;
                    this.category_id = res.data.data.category_id;
                    this.preview_image = res.data.data.preview_image;
                    this.main_image = res.data.data.main_image;
                })
        },
        getCategories() {
            axios.get('/api/categories/').then(res => {
                this.categories = res.data.data;
            })
        },
        getTags() {
            axios.get('/api/tags/').then(res => {
                this.tags = res.data.data;
            })
        },
        updatePost() {
            // axios.patch(`/api/posts/${this.$route.params.id}`, {title: this.title})
            //     .then(res => {
            //         this.$router.push({name: 'posts.show', params: {id: this.$route.params.id}})
            //     })
        },


    }
}
</script>

<style scoped>

</style>
