<template>
    <div>
        <router-link class="btn btn-outline-success" :to="{name: 'posts.create'}">Create</router-link>
        <div class="p-3">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Show</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="post in posts">
                    <td>{{ post.id }}</td>
                    <td>{{ post.title }}</td>
                    <td>
                        <router-link class="btn btn-outline-primary" :to="{name: 'posts.edit', params: {id: post.id}}">
                            Edit
                        </router-link>
                    </td>
                    <td>
                        <router-link class="btn btn-outline-success" :to="{name: 'posts.show', params: {id: post.id}}">
                            Show
                        </router-link>
                    </td>
                    <td><a href="#" @click.prevent="deletePost(post.id)" class="btn btn-outline-danger">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
export default {
    name: "Index",
    data() {
        return {
            posts: null
        }
    },
    mounted() {
        this.getPosts();
    },
    methods: {
        getPosts() {
            axios.get('/api/posts/').then(res => {
                this.posts = res.data.data;
            })
        },
        deletePost(id) {
            axios.delete(`/api/posts/${id}`).then(res => {
                this.getPosts();
            })
        }
    },
}
</script>

<style scoped>

</style>
