<template>
    <div>
        <div>
            <router-link class="btn btn-warning" :to="{name: 'posts.index'}">Posts</router-link>
        </div>
        <div v-if="post" class="row p-3">
            <div class="col-6">
                <div class="card">
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <tbody>
                            <tr>
                                <td>ID</td>
                                <td>{{ post.id }}</td>
                            </tr>
                            <tr>
                                <td>Title</td>
                                <td>{{ post.title }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <router-link class="btn btn-outline-success" :to="{name: 'posts.edit', params: {id: post.id}}">Edit</router-link>
    </div>
</template>

<script>
export default {
    data() {
        return {
            post: null,
        }
    },
    name: "Show",

    mounted() {
        this.getPost()
    },
    methods: {
        getPost() {
            axios.get(`/api/posts/${this.$route.params.id}`)
                .then(res => {
                    this.post = res.data.data
                })
        },
    }
}
</script>

<style scoped>

</style>
