<template>
    <div class="w-25">
        <div class="p-3">
            <router-link class="btn btn-warning" :to="{name: 'tags.index'}">Tags</router-link>
        </div>
        <div class="mb-3">
            <input type="text" v-model="title" class="form-control" placeholder="name">
        </div>
        <div class="mb-3">
            <input @click.prevent="updateTag" :disabled="!isDisabled" type="button" class="btn btn-primary"
                   value="Update">
        </div>
    </div>
</template>

<script>


export default {
    name: "Edit",
    data() {
        return {
            title: null,
        }
    },
    computed: {
        isDisabled() {
            return this.title
        },
    },
    mounted() {
        this.getTag()
    },

    methods: {
        getTag() {
            axios.get(`/api/tags/${this.$route.params.id}`)
                .then(res => {
                    this.title = res.data.data.title
                })
        },
        updateTag() {
            axios.patch(`/api/tags/${this.$route.params.id}`, {title: this.title})
                .then(res => {
                    this.$router.push({name: 'tags.show', params: {id: this.$route.params.id}})
                })
        }
    }
}
</script>

<style scoped>

</style>
