<template>
    <div>
        <router-link class="btn btn-outline-success" :to="{name: 'tags.create'}">Create</router-link>
        <div class="p-3">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Show</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="tag in tags">
                    <td>{{ tag.id }}</td>
                    <td>{{ tag.title }}</td>
                    <td>
                        <router-link class="btn btn-outline-primary" :to="{name: 'tags.edit', params: {id: tag.id}}">
                            Edit
                        </router-link>
                    </td>
                    <td>
                        <router-link class="btn btn-outline-success" :to="{name: 'tags.show', params: {id: tag.id}}">
                            Show
                        </router-link>
                    </td>
                    <td><a href="#" @click.prevent="deleteTag(tag.id)" class="btn btn-outline-danger">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
export default {
    name: "Index",
    data() {
        return {
            tags: null
        }
    },
    mounted() {
        this.getTags();
    },
    methods: {
        getTags() {
            axios.get('/api/tags/').then(res => {
                this.tags = res.data.data;
            })
        },
        deleteTag(id) {
            axios.delete(`/api/tags/${id}`).then(res => {
                this.getTags();
            })
        }
    },
}
</script>

<style scoped>

</style>
